.top-nav li { float: left; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }

.fs12 { font-size: 12px; }
.fs16 { font-size: 16px; }

.price { border: #ddd 1px solid; }

.banner {  }
.banner li { height: 400px; }
.banner .get-price { background: url(../images/home/sky.jpg) center center; }

.header {  }
.logo { height: 80px; line-height: 80px; display: block; float: left; background: url(../images/huolongo.png) center center no-repeat; width: 342px; }
.top-nav li { float: left; height: 80px; line-height: 80px; }
.top-nav li a { color: #4D4D4D; font-size: 16px; padding: 0 10px; }
.top-nav li a:hover { text-decoration: none; color: #FF6600; }
.why-box { min-height: 220px; padding-left: 35px;  }
.why-box h4 { margin-top: 0; }
.why-box small { font-size: 14px; }
.personal { background: url(../images/home/localization_icon.png) no-repeat; }
.productivity { background: url(../images/home/updates_icon.png) no-repeat; }
.good-price { background: url(../images/home/support.png) no-repeat; }
.security { background: url(../images/home/security.gif) no-repeat; }