.top-nav li { float: left; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }

.fs12 { font-size: 12px; }
.fs16 { font-size: 16px; }

.price {  }
.line { border-top: #EAEBEB 1px solid; border-bottom: #FFF 1px solid; height: 0px; margin: 30px 0; }

.banner {  }
.banner li { height: 400px; }
.banner .get-price { background: url(../images/home/sky.jpg) center center; }
.banner .get-cases { display: none; background: url(../images/home/coffee.jpg) center center; }

.header {  }
.logo { height: 80px; line-height: 80px; display: block; float: left; background: url(../images/huolongo.png) center center no-repeat; width: 342px; }
.top-nav li { float: left; height: 80px; line-height: 80px; }
.top-nav li a { color: #4D4D4D; font-size: 16px; padding: 0 10px; }
.top-nav li a:hover { text-decoration: none; color: #FF6600; }
.footer { padding: 20px 0; color: #777; font-size: 12px; }
.footer a { color: #777; }

.why-box { min-height: 220px; padding-left: 35px;  }
.why-box h4 { margin-top: 0; }
.why-box small { font-size: 14px; }
.personal { background: url(../images/home/localization_icon.png) no-repeat; }
.productivity { background: url(../images/home/updates_icon.png) no-repeat; }
.good-price { background: url(../images/home/support.png) no-repeat; }
.security { background: url(../images/home/security.gif) no-repeat; }
.additional { font-size: 12px; }

.price { width: 800px; margin: 80px auto; }
.short, .tall { width: 240px; float: left; border: #DADEE1 1px solid; border-radius: 5px; padding: 10px; height: 150px; }
.short li {  }
.tall { box-shadow: 0 1px 10px #B0B3B6; margin-top: -10px; height: 170px; }

.map { background: url(../images/home/map.jpg) center center; width: 555px; height: 353px; }